{% extends "fundraiser/layout.html" %}

{% block body %}
<div class="container header-bottom">
    <header>
        <h2>Log In Here</h2>
    </header>
  </div>
<div class="container loginForm">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-warning btn-login" type="submit" value="Login">
    </form>
    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</div>
{% endblock %}