{% extends "fundraiser/layout.html" %}

{% load static %}

{% block body %}

{% block script %}
    <script src="{% static 'fundraiser/profile.js' %}"></script>
{% endblock %}
<div class="container header-bottom">
    <header>
        <h2>Your Profile</h2>
    </header>
</div>
<div class="container">
    <ul class="nav nav-tabs" id="myTab">
        <li class="nav-item">
          <button class="profile-btn nav-link active" id="mycampaigns">Your Campaigns</button>
        </li>
        <li class="nav-item">
            <button class="profile-btn nav-link" id="mydonations">Your Donations</button>
        </li>
        <li class="nav-item">
            <button class="profile-btn nav-link" id="mymessages">Messages</button>
        </li>
    </ul>
    
    <div class="row profile" id="donation-view">
        
    </div>
    <div class="row profile" id="campaign-view">
       
    </div>
    <div class="row profile" id="my-messages">
        <button class="btn btn-sm btn-link" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-link" id="sent">Sent</button>
    
        <div class="profile" id="inbox-view">
                  
        </div>
        <div class="profile" id="message-view">
            
        </div>
    </div>
</div>
<script>
    $('#myTab button').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
    })
</script>
{% endblock %}
