{% extends "encyclopedia/layout.html" %}

{% block title %}
{%if edit %}Edit {{ entryTitle }}
{% else %}New Entry{% endif %}
{% endblock %}

{% block body %}
{% if edit %}<h1>Edit Entry</h1>
{% else %}<h1>Add a new Entry</h1>{% endif %}
{% if existing %}
<p>This entry already exists</p>
{% endif %}
<div class="form-group">
    <form action="{% url 'newEntry' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
       <center><input type="submit" class="btn btn-outline-primary"></center>
    </form>
</div>

{% endblock %}